.forecastContainer{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(255, 255, 255);
    color: #fff;
}

.title {
    position: relative;
    text-align: center;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    font-size: 23px;
    font-weight: 700;
  }
  
.daily-item {
    background-color: #ffffff;
    border-radius: 15px;
    height: 90px;
    margin: 5px 50px 0 50px;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    padding: 5px 20px;
    background-color: rgb(255, 255, 255);
  }
  
.icon-small {
    width: 40px;
  }
  
.daily-item .day {
    cursor: inherit;
    color: #000000;
    flex: 1 1;
    font-weight: 600;
    margin-left: 15px;
  }
  
.descriptionForecast {
    cursor: inherit;
    flex: 1 1;
    color: #000000;
    margin-right: 15px;
    text-align: right;
  }
  
.min-max {
    color: #000000;
  }
  
.daily-details-grid {
    grid-row-gap: 0;
    grid-column-gap: 15px;
    margin: 5px 50px 0 50px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    display: grid;
    flex: 1 1;
    grid-template-columns: auto auto;
    padding: 5px 15px;
    row-gap: 0;
    transform: translateY(-15px);
  }
  
.daily-details-grid-item {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: space-between;
  }
  
.daily-details-grid-item label:first-child {
    color: #000000;
  }
  
.daily-details-grid-item label:last-child {
    color: #000000;
  }
  
  
  
  
  